@charset "UTF-8";

.header {
  padding: 20px;
  text-align: center;
  h1 {
    font-size: 3.2rem;
  }
}
.contents {
  width: 80%;
  margin: 60px auto;
  font-size: 1.6rem;
  text-align: center;
}
.footer {
  padding: 20px;
  text-align: center;
  .footer-copyright {
    font-size: 1.4rem;
  }
}

.list-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    padding: 20px;
    background-color: powderblue;
    border-radius: 10px;
    text-align: left;
    &:nth-child(even) {
      background-color: #fff;
    }
  }
}

input[type="text"],
input[type="button"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.6rem;
}
select {
  height: 2.4em;
  background-color: #fff;
  font-size: 1.6rem;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.form-select {
  display: block;
  + .form-select {
    margin-top: 20px;
  }
}
.form-button {
  display: inline-block;
  width: 20%;
  margin: 50px auto;
  cursor: pointer;
}
.txt-common {
  font-size: 2.4rem;
}
.txt-create {
  font-size: 2.4rem;
}
